
.place__image {
    max-width: 460px;
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 700px) {
    .lead__title {
            max-width: 650px;
            width: 100%;
    }
}





