@import url(./__lang-link/header__lang-link.css);
@import url(./__lang-list/header__lang-list.css);
@import url(./__list-item/header__list-item.css);
@import url(./__logo/header__logo.css);
@import url(./__lang-link/_active/header__lang-link_active.css);

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1184px;
    padding: 28px 48px 0 48px;
    margin: 0 auto 56px;
}

@media only screen and (max-width: 1030px) {
    .header {
        margin-bottom: 48px;
    }
}

@media only screen and (max-width: 770px) {
    .header {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media only screen and (max-width: 330px) {
    .header {
        padding: 16px 16px 0px 16px;
    }
}