
.footer__link {
    text-align: left;
    color: white;
    text-decoration: none;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    margin-right: 18px;
    transition: opacity 0.3s linear;
}

.footer__link:hover { 
    opacity: 0.8;
}

@media only screen and (max-width: 330px) {
    .footer__link {
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 32px;
    }
    .footer__link:last-of-type {
        margin-bottom: 0;
    }
}