@import url(./__list/intro__list.css);
@import url(./__text/intro__text.css);
@import url(./__title/intro__title.css);
@import url(./__list-item/intro__list-item.css);
@import url(./__list-quanity/intro__list-quanity.css);

.intro {
    max-width: 984px;
    margin: 0 auto;
    padding: 92px 0 92px;
}

@media only screen and (max-width: 1030px) {
    .intro {
        padding: 92px 48px 88px;
    }
}

@media only screen and (max-width: 770px) {
    .intro {
        padding: 88px 24px 88px 24px;
    }
}

@media only screen and (max-width: 330px) {
    .intro {
        padding: 64px 16px 64px 16px;
    }
}