@import url(./__list/intro__list.css);
@import url(./__text/intro__text.css);
@import url(./__title/intro__title.css);

.intro {
    padding: 92px 0 92px;
}

@media only screen and (max-width: 770px) {
    .intro {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media only screen and (max-width: 330px) {
    .header {
        padding: 16px 16px 0px 16px;
        max-height: 42px;
    }
}