
.lead__subtitle {
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
    max-height: 72px;
    max-width: 640px;
    margin: 32px auto 53px;
    text-align: center;
}

@media only screen and (max-width: 1030px) {
    .lead__subtitle {
        margin-bottom: 56px;
    }
}

@media (max-width: 770px) {
    .lead__subtitle {
        font-size: calc(4vw);
        line-height: normal;
        max-width: 80%;
    }
}

@media only screen and (max-width: 330px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 20px;
        margin: 16px auto 40px;
        min-height: 40px;
    }
}

