
.cover__overlay{
    background:rgba(42, 44, 47, 0.3);
    background-position: center;
    min-height: 640px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.cover__overlay:hover{
    background:rgba(42,44,47,0.8);
    min-height: 640px;
}

@media only screen and (max-width: 770px) {
    .cover__overlay {
        min-height: 480px;
    }
    .cover__overlay:hover{
        background:rgba(42,44,47,0.8);
        min-height: 480px;
    }
}

@media only screen and (max-width: 500px) {
    .cover__overlay {
        min-height: 300px;
    }
    .cover__overlay:hover{
        background:rgba(42,44,47,0.8);
        min-height: 300px;
    }
}


@media only screen and (max-width: 330px) {
    .cover__overlay {
    min-height: 200px;
    }
    .cover__overlay:hover{
        background:rgba(42,44,47,0.8);
        min-height: 200px;
    }
}
