
.lead__caption {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #FFFFFF;
    max-width: 159px;
}

@media only screen and (max-width: 770px) {
    .lead__caption {
        padding-left: 24px;
        font-size: 10px;
    }
}

@media only screen and (max-width: 330px) {
    .lead__caption {
        padding-left: 14px;
    }
}
