@import url(./__image/place__image.css);
@import url(./__paragraph/place__paragraph.css);
@import url(./__title/place__title.css);
@import url(./__link/place__link.css);
@import url(./__url-heading/place__url-heading.css);
@import url(./__website/place__website.css);
@import url(./__paragraphs/place__paragraphs.css);

.place {
    display: grid;
    grid-template-columns: minmax(320px, 460px) minmax(200px, 484px);
    /* grid-template-columns: repeat(auto-fit, minmax(288px,460));*/
    grid-row-gap: 48px;
    grid-column-gap: 40px;
    max-width: 984px;
    padding-bottom: 80px;
}

.place:last-of-type {
    padding-bottom: 0;
}

@media only screen and (max-width: 1030px) {
    .place {
        grid-gap: 32px;
    }
}



@media only screen and (max-width: 770) {
    .place {
        grid-gap: 28px;
        padding-bottom: 72px;
    }
}

@media only screen and (max-width: 600px) {
    .place {
        grid-template-columns: 1fr;
        
    }
}


@media only screen and (max-width: 650px) {
    .place {
        grid-gap: 24px;
        padding-bottom: 48px;
    }
}