@import url(./__copyright/footer__copyright.css);
@import url(./__link/footer__link.css);
@import url(./__links/footer__links.css);

.footer {
    max-width: 1184px;
    display: flex;
    justify-content: space-between;
    margin: 92px 48px 0 48px;
    padding-bottom: 24px;
}

@media only screen and (max-width: 1030px) {
    .footer {
        margin-right: 48px;
        margin-left: 48px;
    }
}

@media only screen and (max-width: 770px) {
    .footer {
        margin-right: 24px;
        margin-left: 24px;
    }
}

@media only screen and (max-width: 600px) {
    .footer {
        flex-direction: column;
        margin-top: 64px;
        margin-left: 16px;
    }
}

@media only screen and (max-width: 330px) {
    .footer {
        flex-direction: column;
        margin-top: 64px;
        margin-left: 16px;
    }
}